
.close {
  
  float: right;
  font-size: 31px;
  font-weight: bold;
  line-height: 1;
  color: white;
  opacity: 0.5;
  filter: alpha(opacity=20);

}
button.close {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-open {
  overflow: hidden;
    
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
    
  -webkit-overflow-scrolling: touch;
  outline: 0;

}
.modal-dialog {
  
  
  width: 80%;
  margin: auto;
}



.modal-body {
  position: relative;
  padding: 0px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
